#############################################
# C / C++ build artifacts
#############################################

#AI
.kiro/

#test
*test/

# Log
*logs/

# GCC / Clang build
*.o
*.a
#*.so
#*.so.*
*.out
*.obj
*.dll
*.exe
*.lib
*.exp
*.pdb

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
#Makefile
build/
out/
compile_commands.json


# Python
__pycache__/
*.py[cod]

# Editor temporary files
*.swp

#############################################
# Visual Studio
#############################################

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet packages
*.nupkg
packages/
.nuget/

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Rider project files
.idea/

#############################################
# VSCode
#############################################
.vscode/
!.vscode/extensions.json
!.vscode/settings.json

#############################################
# OS FILES
#############################################

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~
.cache/

#############################################
# Local config
#############################################
SERVER/Config/server.conf
